<div class="top-right">
    <div>

        <button *ngFor="let user of testUsers; let i = index"
                (click)='setUserTest(i)'
                class="btn btn-info float">{{ user.username }}
        </button>
        <a href="/test/resetdb">
            <button class="btn btn-danger float">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                 RESET DATABASE
            </button>
        </a>
    </div>
</div>


<manuscript-list 
  [hidden] = "!show"
  [user]="user"
  class="full-height">
</manuscript-list>
