.top-right {
    position: relative;
}
.top-right div {
    position: absolute;
    top: 0px;
    right: 0px;
}

.float{
    float:left; width:auto;
}
.fixed{
    position: fixed;
    left: 300px;
    bottom:200px;
    z-index: 9000;
}
